:root {
  --font-family-normal: 'Pattaya', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: var(--font-family-normal);
  font-size: 62.5%;
  line-height: 1.27;
  box-sizing: border-box; }

:root {
  --primary-color: #000;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #666;
  --text-color: #333; }

.u-reset-list {
  list-style: none; }

.u-reset-link {
  text-decoration: none;
  color: inherit; }
